:root {
    --white: rgb(255, 255, 255);
    --dark-gray: rgb(55, 60, 64);
    --light-gray: rgb(253, 253, 254);
    --cyan: rgb(22, 176, 195);
    --light-blue: rgb(165, 212, 222);
    --dark-purple: rgb(39, 33, 45);
    --purple: rgb(90, 15, 161);
    --light-purple: rgb(187, 49, 131);

}

.pageHeader {
    background-color: var(--dark-gray);
    height: 20%;
    display: flex;
    color: var(--white);
}

a, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}

.links {
    list-style-type: none;
}

.links li {
    display: inline;
}

.links li a {
    margin: 10px;
}