:root {
    --white: rgb(255, 255, 255);
    --header-font-gray: #ebebeb;
    --button-gray: #1f2529;
    --dark-gray: rgb(55, 60, 64);
    --light-gray: rgb(253, 253, 254);
    --cyan: rgb(22, 176, 195);
    --light-blue: rgb(165, 212, 222);
    --dark-purple: rgb(39, 33, 45);
    --purple: rgb(90, 15, 161);
    --light-purple: rgb(187, 49, 131);

}

* {
    margin:0;
    padding: 0;
}

.header {
    background-color: var(--dark-gray);
    position: relative;
}

.header-container {
    padding: 45px 55px 40px;
}

.header-links {
    text-decoration: none;
    list-style: none;
}

.header-links li {
    text-transform: uppercase;
    margin-right: 30px  ;
    display: inline;
}

.header-links a:hover {
    color: var(--white);
}

.header-links a {
    font:400 15px/1 "Montserrat", Arial, Helvetica, sans-serif;
    color: var(--header-font-gray);
    text-decoration: none;
}

.navigation {
    display: none;
}
.btn-hamburger {
    display: none;
}

@media screen and (max-width: 640px){
    .header-links {
        display: none;
    }
    .btn-hamburger {
        display: inline-block;
        background-color: var(--button-gray);
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 82px;
        border: none;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
    .header-container {
        padding: 28px 38px 29px;
    }
    .navigation {
        display: inline;
        color: var(--header-font-gray);
        font:400 24px/1 "Montserrat", Arial, Helvetica, sans-serif;
    }
    .fa-bars {
        font-size: 31px;
        color: var(--white);
    }
}